= form_for @provider do |f|
  -if @provider.errors.any?
    #error_explanation
      %h2= "#{pluralize(@provider.errors.count, "error")} prohibited this provider from being saved:"
      %ul
        - @provider.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :disease_id
    = f.text_field :disease_id
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :add_number
    = f.text_field :add_number
  .field
    = f.label :add_street
    = f.text_field :add_street
  .field
    = f.label :add_2
    = f.text_field :add_2
  .field
    = f.label :add_city
    = f.text_field :add_city
  .field
    = f.label :add_state
    = f.text_field :add_state
  .field
    = f.label :add_zip
    = f.text_field :add_zip
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :url
    = f.text_field :url
  .actions
    = f.submit 'Save'
