= form_for @disease do |f|
  -if @disease.errors.any?
    #error_explanation
      %h2= "#{pluralize(@disease.errors.count, "error")} prohibited this disease from being saved:"
      %ul
        - @disease.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :scientific_name
    = f.text_field :scientific_name
  .field
    = f.label :video
    = f.text_field :video
  .field
    = f.label :introduction
    = f.text_field :introduction
  .field
    = f.label :infection_mechanism
    = f.text_field :infection_mechanism
  .field
    = f.label :prevention
    = f.text_field :prevention
  .field
    = f.label :screening_test
    = f.text_field :screening_test
  .field
    = f.label :treatment
    = f.text_field :treatment
  .field
    = f.label :severity_rating
    = f.text_field :severity_rating
  .field
    = f.label :microbes
    = f.text_field :microbes
  .field
    = f.label :severity
    = f.text_field :severity
  .field
    = f.label :image_url
    = f.text_field :image_url
  .field
    = f.label :mouseover_image_url
    = f.text_field :mouseover_url
  .field
    = f.label :IsCurable
    = f.text_field :IsCurable
  .field
    = f.label :IsSymptoms
    = f.text_field :IsSymptoms
  .field
    = f.label :IsCondom
    = f.text_field :IsCondom
  .field
    = f.label :diseaseinfo
    = f.text_field :diseaseinfo
  .field
    = f.label :acquire
    = f.text_field :acquire
  .field
    = f.label :complication
    = f.text_field :complication
  .field
    = f.label :diagnose
    = f.text_field :diagnose
  .field
    = f.label :symptom
    = f.text_field :symptom
  .field
    = f.label :treatment_option
    = f.text_field :treatment_option
  .field
    = f.label :deseaseinfo_url
    = f.text_field :diseaseinfo_url
  .field
    = f.label :acquire_url
    = f.text_field :acquire_url
  .field
    = f.label :complication_url
    = f.text_field :complication_url
  .field
    = f.label :diagnose_url
    = f.text_field :diagnose_url
  .field
    = f.label :symptom_url
    = f.text_field :symptom_url
  .field
    = f.label :treatment_option_url
    = f.text_field :treatment_option_url
    
  .actions
    = f.submit 'Save'
