%h1 Listing diseases

%table
  %tr
    %th Name
    %th Scientific name
    %th Video
    %th Introduction
    %th Infection mechanism
    %th Prevention
    %th Screening test
    %th Treatment
    %th Severity_rating
    %th
    %th
    %th

  - @diseases.each do |disease|
    %tr
      %td= disease.name
      %td= disease.scientific_name
      %td= disease.video
      %td= disease.introduction
      %td= disease.infection_mechanism
      %td= disease.prevention
      %td= disease.screening_test
      %td= disease.treatment
      %td= disease.severity_rating
      %td= link_to 'Show', disease
      %td= link_to 'Edit', edit_disease_path(disease)
      %td= link_to 'Destroy', disease, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Disease', new_disease_path
