%meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
%script{:src => "maxheight.js", :type => "text/javascript"}
%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js", :type => "text/javascript"}
%script{:src => "slimbox2.js", :type => "text/javascript"}
%link{:href => "css/slimbox2.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "../style-projects-jquery.css", :rel => "stylesheet", :type => "text/css"}/

%body#index{:onload => "new ElementMaxHeight();"}

  #header_tall
  #main
    / header
    #header
      .h_logo1
        .left
          %img{:alt => "", :src => "../images/logoSmallWhite.png"}/
          %br/
        .clear
    #menu
      =  render 'layouts/menu1'

    #main
      .content
        %object{:classid => "clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B", :codebase => "http://www.apple.com/qtactivex/qtplugin.cab#version=7,3,0,0", :height => "496", :width => "720"}
          %param{:name => "src", :value => @disease.image_url}
            %param{:name => "showlogo", :value => "false"}
              %param{:name => "scale", :value => "tofit"}
                %param{:name => "saveembedtags", :value => "true"}
                  %param{:name => "postdomevents", :value => "true"}
                    %embed{:aggressivecleanup => "false", :airplay => "allow", :autostart => "false", :bgcolor => "white", :cache => "true", :controller => "true", :height => "496", :postdomevents => "true", :posterframe => "http://images.apple.com/global/elements/quicktime/qt_endstate848x480.jpg", :scale => "tofit", :showlogo => "false", :src => "video/disease2.m4v", :style => "width: 720px; height: 496px;", :type => "video/quicktime", :width => "720"}
                      %param{:name => "posterframe", :value => "http://images.apple.com/global/elements/quicktime/qt_endstate848x480.jpg"}
                        %param{:name => "showlogo", :value => "false"}
                          %param{:name => "autostart", :value => "false"}
                            %param{:name => "cache", :value => "true"}
                              %param{:name => "bgcolor", :value => "white"}
                                %param{:name => "aggressivecleanup", :value => "false"}
                                  %param{:name => "controller", :value => "true"}/
      .colLeft
        .colDisease
          .textDisease
            %td= @disease.diseaseinfo
          %a{:href => @disease.diseaseinfo_url, :rel => "lightbox"}
            .buttonDisease
        .colAcquire
          .textAcquire
            %td= @disease.acquire
          %a{:href => @disease.acquire_url, :rel => "lightbox"}
            .buttonAcquire
        .colSymptom
          .textSymptom
            %td= @disease.symptom
          %a{:href => @disease.symptom_url, :rel => "lightbox"}
            .buttonSymptom
        .colDiagnose
          .textDiagnose
            %td= @disease.diagnose
          %a{:href => @disease.diagnose_url, :rel => "lightbox"}
            .buttonDiagnose
        .colTreatment
          .textTreatment
            %td= @disease.treatment_option
          %a{:href => @disease.treatment_option_url, :rel => "lightbox"}
            .buttonTreatment
        .colComplication
          .textComplication
            %td= @disease.complication
          %a{:href => @disease.complication_url, :rel => "lightbox"}
            .buttonComplication
      .colRight
        .colGraph 
        .colLocation
          %td= button_to "Take the test", test_path, :method=> :get, :id => @disease.id, :confirm => "Are you well prepared?"
      .colBottom
        .colserviceProviders
        .coltreatementOptions
      %br
      .clear/

    =  render 'layouts/footer'