.span-24.last
  %h1 Home Page.
.span-24.last
.span-3
  %h4 .
.span-18
  %tr
    %td
      - disease11 = image_tag("clock/11.jpg")
      = link_to disease11, root_path      
    %td
      - disease12 = image_tag("clock/12.jpg", :alt => "health3d.com")
      = link_to disease12, root_path
    %td
      - disease1 = image_tag("clock/1.jpg", :alt => "health3d.com")
      = link_to disease1, root_path
      %br/
  %tr
    %td
      - disease10 = image_tag("clock/10.jpg", :alt => "health3d.com")
      = link_to disease10, root_path 
    %td {:colspan=>""}  &nbsp;
    %td
      - disease2 = image_tag("clock/2.jpg", :alt => "health3d.com")
      = link_to disease2, root_path
      %br/
  %tr
    %td
      - disease9 = image_tag("clock/9.jpg", :alt => "health3d.com")
      = link_to disease9, root_path 
    %td
      - disease0 = image_tag("clock/0.jpg", :alt => "health3d.com")
      = link_to disease0, root_path
    %td
      - disease3 = image_tag("clock/3.jpg", :alt => "health3d.com")
      = link_to disease3, root_path
      %br/
  %tr
    %td
      - disease8 = image_tag("clock/8.jpg", :alt => "health3d.com")
      = link_to disease8, root_path 
    %td {:colspan=>""}  &nbsp;
    %td
      - disease4 = image_tag("clock/4.jpg", :alt => "health3d.com")
      = link_to disease4, root_path
      %br/
  %tr
    %td
      - disease7 = image_tag("clock/7.jpg", :alt => "health3d.com")
      = link_to disease7, root_path 
    %td
      - disease6 = image_tag("clock/6.jpg", :alt => "health3d.com")
      = link_to disease6, root_path
    %td
      - disease5 = image_tag("clock/5.jpg", :alt => "health3d.com")
      = link_to disease5, root_path
      %br/
.span-3.last
  %h4 .
  