#footer
    .span-24
    = link_to_unless_current "Home",     root_path
    |
    \#{link_to_unless_current "About",	{ :controller => "/abouts", :action => "index" }} 
    |
    \#{link_to_unless_current "Contact",  { :controller => "/contacts", :action => "index" }}
    |
    \#{link_to_unless_current "Terms and Condition",  { :controller => "/terms", :action => "index" }}
    |
    \#{link_to_unless_current "Districts",  { :controller => "/districts", :action => "index" }}
    |
    \#{link_to_unless_current "Counties",  { :controller => "/counties", :action => "index" }}
    |
    \#{link_to_unless_current "States",  { :controller => "/states", :action => "index" }}
    |
    \#{link_to_unless_current "Schools",  { :controller => "/schools", :action => "index" }}
    |
    \#{link_to_unless_current "Diseases",  { :controller => "/diseases", :action => "index" }}
    |
    \#{link_to_unless_current "Questions",  { :controller => "/questions", :action => "index" }}
    |
    \#{link_to_unless_current "Tests",  { :controller => "/tests", :action => "index" }}